.VendingMachine {
	height: 100vh;
	width: 100vw;
	background-image: url("https://images.unsplash.com/photo-1546920930-cfbd84a17b4c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2268&q=80");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}